.App {
  text-align: center;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-login-image{
  background: url("https://pic.imgdb.cn/item/626400c7239250f7c535af31.jpg") bottom / cover;
}

.styleform .form-control{
  font-size: .8rem;
  border-radius: 10rem;
  padding: 1rem;
}

.form-check-input{
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0,0,0,.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.form-check-label{
  text-align: left;
}
 
.formcontainer label{
  text-align: center;
}

.btn-user{
  font-size: .8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}